<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Form</title>
<link rel="stylesheet" href="login.component.css">
</head>
<body>

<div class="login-container">
  <form (ngSubmit)="onLogin()" action="/submit-your-login-form" method="post">
    <h1>Login</h1>
    
    <label for="username">Username</label>
    <input type="text" id="username" [(ngModel)]="loginObj.username" name="username" placeholder="Enter Username" required>

    <label for="password">Password</label>
    <input type="password" id="password" [(ngModel)]="loginObj.password" name="password" placeholder="Enter Password" required>

    <button type="submit">Login</button>
    <!-- <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div> -->
  </form>
</div>

</body>
</html>
